body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.iconfont {
  cursor: pointer;
}
