body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.iconfont {
  cursor: pointer;
}

.el-tabs__active-bar {
  background-color: #c3473a;
}

.el-tabs__item:hover,
.el-tabs__item.is-active {
  color: #c3473a;
}

.el-table th>.cell {
  font-weight: normal;
  color:black;
}
.el-pagination{
  margin-top: 50px;
  text-align: center;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: #dd6d60;
}
.song-table {
  border-bottom: none;
  tbody{
    border-bottom: none;
  }
  td{
    border-bottom: none;
  }
  .song-wrap {
    > span {
      margin-top: 20px;
      display: inline-block;
      color: #bebebe;
    }
    .icon-mv {
      padding-left: 5px;
      color: #dd6d60;
    }
  }
  .img-wrap {
    position: relative;
    width: 70px;
    height: 70px;
    img {
      width: 70px;
      height: 70px;
      border-radius: 5px;
    }
    .icon-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 25px;
      height: 25px;
      color: #dd6d60;
      font-size: 12px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.8);
      &::before {
        transform: translateX(1px);
      }
    }
  }
}